<h1>Log In Below:</h1>
<form method="post" action="/sessions">

  <label for="logmail">Email:</label>
  <input type="text" id="logmail" name="email">

  <label for="logpass">Password:</label>
  <input type="text" id="logpass" name="password">

  <input type="submit" id="Log In">
</form>
