<h1>Log In Below:</h1>

<form method="POST" action="/sessions">
  <p><label for="email">Enter Email: </label>
  <input type="email" name="email" id="email"></p>
  <p><label for="password">Enter Passowrd: </label>
  <input type="password" name="password" id="password"></p>
  <p><input type="submit" value="Log In"></p>
</form>

