<h1>Sign Up Below:</h1>

<form method="POST" action="/registrations">
  <p><label for="name">Enter Name: </label>
  <input type="text" name="name" id="name"></p>
  <p><label for="email">Enter Email: </label>
  <input type="email" name="email" id="email"></p>
  <p><label for="password">Enter Password: </label>
  <input type="password" name="password" id="password"></p>
  <p><input type="submit" value="Sign Up"></p>
</form>


